@page
@using System.Collections
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul class="list-group">
        @foreach (DictionaryEntry env in Environment.GetEnvironmentVariables())
        {
            <li class="list-group-item">@env.Key @env.Value</li>
        }
    </ul>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
