@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script type="text/javascript">
    function validateCreatedAt() {
        let value = document.forms["dateForm"]["createdAt"].value;
        if (value == "") {
            alert("Name must be filled out");
            return false;
        }
    }
</script>

<div class="">
    <form name="dateForm" class="form-group row col-lg-6" method="GET" onsubmit="return validateCreatedAt()">
        <legend>Дата начала контракта</legend>
        <input class="form-control" type="datetime-local" value="2020-06-21T19:30" name="createdAt"/>
        <button class="btn btn-primary mt-2" type="submit">Создать отчет</button>
    </form>

    <table class="table table-dark">
        <thead>
            <tr>
                <td>Имя</td>
                <td>Фамилия</td>
                <td>Отчество</td>
                <td>Баланс</td>
            </tr>
        </thead>
        <tbody>
            @foreach (IndexModel.ReportType rep in Model.Reports)
            {
                <tr>
                    @rep.Name
                </tr>
                <tr>
                    @rep.SecondName
                </tr>
                <tr>
                    @rep.ThirdName
                </tr>
                <tr>
                    @rep.Balance
                </tr>
            }
        </tbody>
    </table>
</div>
