@page
@using System.Collections
@using HerokuTest.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-4">Welcome</h1>
    <form method="GET" >
        <input name="createdAt"/>
        <button type="submit">Создать отчет</button>
    </form>

    <ul class="list-group">
        @foreach (IndexModel.ReportType rep in Model.Reports)
        {
            <ul class="list-group-item">@rep.Name<text> </text>@rep.Balance</ul>
        }
    </ul>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
